@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@0;1&display=swap');
* {
  font-family: 'Quantico', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background: #000;
  z-index: 20;
  align-items: center;
  animation: drop-in 1s ease forwards 2.5s;
  top: -10%;
}

@keyframes drop-in {
  0% {
    top: -10%;
  }
  100% {
    top: 0;
  }
}

.logo {
  color: #fff;
  font-size: 30px;
  padding: 0 20px;
  white-space: nowrap;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 3vh;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  left: 0;
  right: 0;
}

li, #nav-a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #00ffff;
  transition: color 0.5s ease;
}

#nav-a:hover {
  color: #fff;
}

.top-section {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me-heading {
  height: 70px;
  stroke-linecap: round;
  margin: 10% 0 5% 0;
  max-width: 80%;
  align-items: left;
}

@media only screen and (min-width: 760px) {
  #about-me-heading {
    height: 100px;
    stroke-linecap: round;
  }
}

#about-me-heading path:nth-child(1) {
  stroke-dasharray: 497;
  stroke-dashoffset: 497;
  animation: line-animation 1s ease forwards;
}

#about-me-heading path:nth-child(2) {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: line-animation 1s ease forwards 0.3s;
}

#about-me-heading path:nth-child(3) {
  stroke-dasharray: 404;
  stroke-dashoffset: 404;
  animation: line-animation 1s ease forwards 0.6s;
}

#about-me-heading path:nth-child(4) {
  stroke-dasharray: 390;
  stroke-dashoffset: 390;
  animation: line-animation 1s ease forwards 0.9s;
}

#about-me-heading path:nth-child(5) {
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
  animation: line-animation 1s ease forwards 1.2s;
}

#about-me-heading path:nth-child(6) {
  stroke-dasharray: 805;
  stroke-dashoffset: 805;
  animation: line-animation 1s ease forwards 1.5s;
}

#about-me-heading path:nth-child(7) {
  stroke-dasharray: 420;
  stroke-dashoffset: 420;
  animation: line-animation 1s ease forwards 1.8s;
}

@keyframes line-animation {
  100% {
    stroke-dashoffset: 0;
  }
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 760px) {
  .flexbox-container {
    display: flex;
    flex-direction: row;
  }
}

.left-portion {
  height: 550px;
  flex-basis: 60%;
  padding-top: 50px;
  margin-bottom: 50px;
}

.right-portion {
  height: 550px;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-description {
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  opacity: 0;
  width: 100%;
  animation: fade-in 1.75s ease forwards 2.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-header {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.skills-section {
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-content {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skills-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  color: #00ffff;
}

.skills-content p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: white;
}

@media only screen and (min-width: 760px) {
  .skills-content {
    width: 50%;
  }
}

.skills-section ul {
  list-style: none;
}


.skill-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skill-icon {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  margin: 5px 0;
  padding: 5px;
}

.skill-icon:hover {
  transform: rotate(-360deg);
}

.skill-icon-discription {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

#pop-up {
  font-size: 20px;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
}

.skill-icon-discription:hover #pop-up{
  transform: translateY(175%);
  opacity: 1;
}

@media only screen and (min-width: 760px) {
  .skills-section ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .skills-section ul li:nth-child(odd){
    float: left;
    clear: right;
    border-radius: 20px 0px 20px 20px;
  }

  .skills-section ul li:nth-child(even){
    float: right;
    clear: left;
    border-radius: 0px 20px 20px 20px;
  }

  .skills-section ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -30px;
  }

  .skills-section ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -30px;
  }
}

.timeline-section {
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.timeline {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0px;
}

.timeline-content h1{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}


@media only screen and (min-width: 760px) {
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline ul li:hover::after {
    background-color: aqua;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
}